<!DOCTYPE html>
<html lang="en" ng-app='grittr'>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico">

    <title>grittr.co</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/bootstrap_dashboard.css" rel="stylesheet">
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
<!--    <link href="/stylesheets/ace.css" rel="stylesheet"> -->
    <link href="/stylesheets/ace_wizard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script src='/externaljs/angular-1-2-16/angular.js'></script>
  <script src='/externaljs/angular-1-2-16/angular-route.js'></script>
  <script src='/externaljs/angular-1-2-16/angular-animate.js'></script>
  <script src='/externaljs/angular-1-2-16/angular-resource.js'></script>

  <script src='/externaljs/validator.min.js'></script>

  <script src='/javascripts/app.js'></script>
  <script src='/javascripts/controller.js'></script>
	
  <body>
<!-- Header --> 
    <div class="navbar navbar-inverse navbar-fixed-top grittr-navbar" role="navigation" ng-controller="HeaderCtrl">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand grittr-heading" href="/dashboard"><span class="grittr-heading-home">Grittr</span><span class="grittr-heading-domain">.co</span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a ng-if='isLoggedIn()' href="#">{{userEmail}}</a></li>
            <li><a ng-if='isLoggedIn()' href="#" ng-click="logoutUser()">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>
<!-- / Header -->

 
    <div class="container-fluid">
      <div class="row">
        <div ng-view></div>         
      </div> <!-- ./ row -->
    </div><!-- /.container-fluid -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/externaljs/jquery.min.js"></script>
    <script src="/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <script src="/externaljs/docs.min.js"></script>
  

</body></html>
