 
      <!-- Main page -->
        <div class="col-sm-12 col-md-8 col-md-offset-2 main">
          <h1 class="page-header">Welcome</h1>

            <!-- PAGE CONTENT BEGINS -->
          <div class="ace-wizard">
            <div class="widget-box">
              <div class="widget-header">
                <h4 class="widget-title lighter">Feel in the blanks</h4>
              </div>
                
              <div class="widget-body">
                <div class="widget-main">
                  <!-- #section:plugins/fuelux.wizard -->
                  <div id="fuelux-wizard" data-target="#step-container">
                    <!-- #section:plugins/fuelux.wizard.steps -->
                    <ul class="wizard-steps">
                      <li data-target="#step1" class="active">
                        <span class="step">1</span>
                        <span class="title">Register</span>
                      </li>

                      <li data-target="#step2">
                        <span class="step">2</span>
                        <span class="title">Roles</span>
                      </li>

                      <li data-target="#step3">
                        <span class="step">3</span>
                        <span class="title">Goals</span>
                      </li>

                      <li data-target="#step4">
                        <span class="step">4</span>
                        <span class="title">Actions</span>
                      </li>
                    </ul>

                    <!-- /section:plugins/fuelux.wizard.steps -->
                  </div>

                  <hr />
                  <!-- #section:plugins/fuelux.wizard.container -->
                  <div class="step-content pos-rel" id="step-container">
                    <div class="step-pane active" id="step1">
                      <h3 class="lighter block green">First, create yourself a password first</h3>
                      <div class="row">
                      <div class="col-md-12 col-lg-12">
                        <form class="form-horizontal" role="form">
                          <div class="form-group">
                            <label class="col-sm-3 control-label" for="exampleInputEmail2">Email</label>
                            <div class="col-sm-8">
                              <input type="email" class="form-control has-warning" id="exampleInputEmail2" placeholder="{{email}}" ng-disabled="isDisabled">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label" for="exampleInputPassword2">
                              <strong>Password</strong>
                            </label>
                            <div class="col-sm-8">
                              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="{{roleItem.place}}">
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-3 control-label" for="exampleInputPassword2">                              <strong>Repeat password </strong>
                            </label>
                            <div class="col-sm-8">
                              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="{{roleItem.place}}">
                            </div>
                          </div>
                          </form>           
                      </div>          </div>        

                     </div><!-- /.step-pane .active -->

                  </div><!-- /.step-content .pos-rel -->  
                    <hr />
                  <div class="wizard-actions">
                      <!-- #section:plugins/fuelux.wizard.buttons -->
                      <button class="btn grittr-btn-prev grittr-btn-arrow" disabled="disabled">
                        <i class="glyphicon glyphicon-minus-sign"></i>
                        Prev
                      </button>

                      <button class="btn btn-success grittr-btn-arrow grittr-btn-next"  ng-click="next()">
                        Next
                        <i class="glyphicon glyphicon-arrow-right"></i>
                      </button>

                   </div><!-- /.wizard-actions -->
                 </div><!-- /.widget-main -->
               </div><!-- /.widget-body -->
            </div><!-- /.wigdet-box -->
          </div><!-- /.ace-wizard --> 

        </div> <!-- / Main page -->
 
