 <div class="container" ng-controller="LoginCtrl"> 
      <div class="widget-login-box">                  
        <form class="form-signin" role="form">  
          <h2 class="form-signin-heading">Please sign in  <span class="pull-right small-icon glyphicon glyphicon-user"></span> 
          </h2>                                 
          <input type="email" class="form-control" placeholder="Email address" required autofocus ng-model="loginEmail"> 
          <input type="password" class="form-control" placeholder="Password" required ng-model="loginPassword"> 
<!--          <label class="checkbox">          
            <input type="checkbox"  class="ace" value="remember-me"><span class="lbl"> Remember me</span> 
          </label> -->                          
<br><br>                                        
                                                
          <button class="btn btn-lg btn-primary btn-block square-button"  ng-click="loginAction()">Sign in</button> 
        </form>                                 
<!--                                            
<span class="invite-arrow glyphicon glyphicon-circle-arrow-down"></span>  
        <div class="center-block social-or-login"> 
         <span>Or requeste an invite &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
       </div> -->                               
      </div>                                    
    </div> <!-- /container -->    
